<launch>

  
  <arg name="input_rosbag_path" default=""/>
  
  <param name="/use_sim_time" value="true"/>
  <arg name="node_start_delay" default="2.0" />

  <node pkg="hesai_ros_driver" name="hesai_ros_driver_node" type="hesai_ros_driver_node" output="screen" required="true" > <!-- launch-prefix="gdb -ex run args"> -->
    <param name="config_path" type="string" value= "$(find hesai_ros_driver)/config/packet_replay.yaml"/>
    <param name="/use_sim_time" value="true"/>
    <!-- write a param for input_rosbag_path -->
    <param name="input_rosbag_path" type="string" value="$(arg input_rosbag_path)"/>
    
  </node>

  <node pkg="rosbag" type="play" name="player" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' xterm -bg lightblue -fg darkslategrey -bd plum -bw 10 -geometry 80x40-50+250 -fn -sony-fixed-medium-r-normal--24-170-100-100-c-120-iso8859-1 -e " args="--clock -r 10 -d 1 $(arg input_rosbag_path)"/>
  
  <!-- rviz -->
  <!-- <node pkg="rviz" name="rviz" type="rviz" args="-d '$(find hesai_ros_driver)/rviz/rviz.rviz'" required="true"/> -->

  <!-- Needs xterm -->
  <!-- sudo apt install xterm -->

  <!-- rosbag -->
  <!-- <node pkg="rosbag" type="play" name="player" output="screen" launch-prefix="xterm -bg lightblue -fg darkslategrey -bd plum -bw 10 -geometry 80x40-50+250 -e " args="clock -r 10 $(arg input_rosbag_path)"/> -->

</launch>

