<launch>

  
  <arg name="input_rosbag_path" default="/home/tutuna/Videos/2024-11-14-13-45-37_heap_testsite/2024-11-14-13-45-37_nuc_hesai.bag"/>
  <arg name="enable_viz" default="false" />

  <param name="/use_sim_time" value="true"/>
  <arg name="node_start_delay" default="2.0" />

  <node pkg="hesai_ros_driver" name="hesai_ros_driver_node" type="hesai_ros_driver_node" output="screen" required="true" > <!-- launch-prefix="gdb -ex run args"> -->
    <param name="config_path" type="string" value= "$(find hesai_ros_driver)/config/packet_replay.yaml"/>
    <param name="/use_sim_time" value="true"/>
    <!-- write a param for input_rosbag_path -->
    <param name="input_rosbag_path" type="string" value="$(arg input_rosbag_path)"/>
    
  </node>

  <!-- rosbag -->
  <node pkg="rosbag" type="play" name="player" output="screen" launch-prefix="bash -c 'sleep $(arg node_start_delay); $0 $@' xterm -bg lightblue -fg darkslategrey -bd plum -bw 10 -geometry 80x40-50+250 -fn -sony-fixed-medium-r-normal--24-170-100-100-c-120-iso8859-1 -e " args="--clock -r 5 -d 1 $(arg input_rosbag_path)"/>
  
  <!-- rviz -->
  <!-- <node pkg="rviz" name="rviz" type="rviz" args="-d '$(find hesai_ros_driver)/rviz/rviz.rviz'" required="true"/> -->
  <group if="$(arg enable_viz)">
    <!-- RQT Im View -->
    <node name="range_im_view" 
          pkg="image_view" 
          type="image_view" 
          respawn="false" 
          output="screen" >
      <param name="image_transport" value="raw" />
      <remap from="image" to="/gt_box/hesai/range_image" />
      <param name="colormap" value="2" />
      <param name="min_image_value" value="0.5" />
      <param name="max_image_value" value="30.0" />
      <param name="dynamic_range" value="true" />
      <param name="autosize" value="true" />
    </node> 

    <!-- Depth RVL view -->
    <node name="intensity_im_view" 
          pkg="image_view" 
          type="image_view" 
          respawn="false" 
          output="screen" >
      <param name="image_transport" value="raw" />
      <remap from="image" to="/gt_box/hesai/intensity_image" />
      <param name="colormap" value="2" />
      <param name="min_image_value" value="0" />
      <param name="max_image_value" value="255.0" />
      <param name="dynamic_range" value="false" />
      <param name="autosize" value="true" />
    </node> 
  </group>


  <!-- Needs xterm -->
  <!-- sudo apt install xterm -->

</launch>

